<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong>Chef</strong>,</p>

<p>Jemand hat eine neue Anfrage gestellt. Hier die Details:</p>

<p><strong>Email: </strong><%= @inquiry.email %></p>  

<% if @inquiry.name != nil %>
	<p><strong>Name: </strong><%= @inquiry.name %></p>
<% end %>

<% if @inquiry.subject != nil %>
	<p><strong>Betreff: </strong><%= @inquiry.subject %></p>
<% end %>

<p><strong>Nachricht: </strong><%= @inquiry.content %></p>

<%= link_to "Hier geht's zur zur Homepage", root_url %>